---
import type { HeaderProps } from './header';
import {
  DEFAULT_LOCALE,
  getLandingUiCopy,
  isLandingLocale,
  localizedHref,
} from '../i18n';

interface Props {
  counts: HeaderProps['counts'];
  locale?: string;
}

const { locale: rawLocale = DEFAULT_LOCALE } = Astro.props as Props;
const locale = isLandingLocale(rawLocale) ? rawLocale : DEFAULT_LOCALE;
const ui = getLandingUiCopy(locale);
const href = (path: string) => localizedHref(path, locale);
const REPO = 'https://github.com/emosamastudio/inori-blog';
---

<footer class='sub-footer' data-od-id='sub-footer'>
  <div class='container sub-footer-inner'>
    <div class='sub-footer-grid'>
      <div class='sub-footer-brand'>
        <a href={href('/')} class='brand'>
          <span class='brand-mark'>
            <img src='/logo.webp' alt='' width='36' height='36' />
          </span>
          <span>Inori</span>
        </a>
        <p>
          {ui.footer.summary}
        </p>
      </div>
      <div class='sub-footer-col'>
        <h5>{ui.footer.connect}</h5>
        <ul>
          <li><a href={REPO} target='_blank' rel='noopener'>{ui.footer.github}</a></li>
          <li><a href={`${REPO}/issues`} target='_blank' rel='noopener'>{ui.footer.issues}</a></li>
          <li><a href={href('/blog/')}>Blog</a></li>
          <li><a href='/blog/rss.xml'>{ui.footer.rss}</a></li>
        </ul>
      </div>
    </div>
    <div class='sub-footer-bottom'>
      <span>{ui.footer.bottomLeft}</span>
      <span>{ui.footer.bottomRight}</span>
    </div>
  </div>
</footer>
