---
import {
  DEFAULT_LOCALE,
  getCommonCopy,
  isLandingLocale,
} from '../i18n';

const REPO = 'https://github.com/emosamastudio/inori-blog';
const REPO_RELEASES = `${REPO}/releases`;
const ext = {
  target: '_blank',
  rel: 'noreferrer noopener',
} as const;
const NBSP = ' ';
const { github = { versionLabel: 'v0.3.0' }, locale: rawLocale = DEFAULT_LOCALE } =
  Astro.props;
const locale = isLandingLocale(rawLocale) ? rawLocale : DEFAULT_LOCALE;
const copy = getCommonCopy(locale).topbar;
---

<div class='topbar' data-od-id='topbar'>
  <div class='container topbar-inner'>
    <span>
      <b>Inori / 2026</b>{NBSP}·{NBSP}{copy.issue ?? 'Vol. 01 / Issue Nº 01'}
    </span>
    <span class='mid'>
      <span>
        {copy.filedUnder} <b class='coral'>{copy.category}</b>
      </span>
      <span>{copy.madeOnEarth}</span>
    </span>
    <span class='right'>
      <a class='topbar-link' href={REPO_RELEASES} {...ext}>
        <span class='pulse'></span>
        {copy.live} · <span data-github-version>{github.versionLabel}</span>
      </a>
    </span>
  </div>
</div>
